*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;

}
.container{
    margin-top: 2rem;
}
/*.transitionForm {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
ul #expense-list{
    padding-left: 0;
}
li{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    border-left: 3px solid #0dcaf0;
    background-color: #ffffff;
    color: #0dcaf0;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.income{
    border-left: 3px solid green;
    color: green;
}
.expense{
    border-left: 3px solid red;
    color: red;
}
